.navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-light .navbar-brand {
    color: #f4877c;
}

h1 {
    margin-top: 32px;
}

h1, h2, h3 {
    color: #f36e60;
    margin-bottom: 32px;
}

.navbar-brand {
    text-transform: uppercase;
}

.navbar-nav li:last-child .navbar-brand {
    margin: 0;
}

.banner, .mentions {
    margin-top: 124px;
}

.banner img {
    width: 100%;
}

.movie {
    margin-bottom: 30px;
}

.movie h2 {
    margin-bottom: 0;
}

.date {
    text-align: center;
    font-size: 25px;
    color: #f36e60;
}

.italic {
    font-style: italic;
}

#inscription-form {
    width: 50%;
    margin: 0 auto;
}

figure {
    border: solid 1px #000;
}

.frame {
    width: 400px;
    padding: 5px 10px;
    margin: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: #fdc9b8;
}

footer {
    border-top: 2px solid #f699af;
    margin-top: 32px;
    padding: 20px 0;
}

footer h2 {
    color: #666;
}

.frame p {
    text-align: justify;
}

@media (max-width: 991px) {

    header {
        display: flex;
        justify-content: space-around;
    }

    nav {
        width: 200px;
        margin: 0;
    }

    .navbar {
        position: static;
    }

    .banner, .mentions {
        margin-top: 0;
    }

    .banner, .banner-nohome {
        display: none;
    }

    .bg-light {
        background: none!important;
    }

    .navbar-brand {
        margin: 0;
        text-transform: capitalize;
    }

    .news img {
        width: 100%;
        height: auto;
    }

    figure {
        width: 272px;
        margin: 20px auto;
    }

    .mentions h1, .mentions h2, .mentions h3 {
        text-align: center;
    }

    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {

    #illustration {
        width: 100%;
        height: auto;
    }

    #inscription-form {
        width: initial;
    }
    
    .frame {
        width: 300px;
    }
}